<div class="container-fluid">
  <span class="text-center initials"> S </span>
  <p class = "text-center text-description"> Scoutistica é a ferramenta que usa a estatística como auxílio para inferir resultados esportivos. </p> 
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-lg btn-primary"> Já manjo tudo! </button>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-lg btn-primary"> Diga-me mais. </button>
    </div>
  </div>
</div>